.icon {
  background-image: url("../icon3-sprite.png"); }

.icon-comment {
  background-position: -0.25rem -0.25rem;
  width: 4.625rem;
  height: 4.0625rem; }

.icon-comment21 {
  background-position: -5.375rem -0.25rem;
  width: 4.625rem;
  height: 4.0625rem; }

.icon-comment5 {
  background-position: -0.25rem -4.8125rem;
  width: 4.625rem;
  height: 4.0625rem; }

.icon-comment6 {
  background-position: -5.375rem -4.8125rem;
  width: 4.625rem;
  height: 4.0625rem; }

.icon-laugh2 {
  background-position: -10.5rem -0.25rem;
  width: 4.0625rem;
  height: 4.0625rem; }
