.icon {
  background-image: url("../icon2-sprite.png"); }

.icon-comment29 {
  background-position: -0.25rem -0.25rem;
  width: 4.625rem;
  height: 4.0625rem; }

.icon-laugh {
  background-position: -5.375rem -0.25rem;
  width: 4.0625rem;
  height: 4.0625rem; }

.icon-laugh4 {
  background-position: -0.25rem -4.8125rem;
  width: 4.0625rem;
  height: 4.0625rem; }

.icon-laugh5 {
  background-position: -4.8125rem -4.8125rem;
  width: 4.0625rem;
  height: 4.0625rem; }
