.icon {
  background-image: url('../icon3-sprite.png');
}

.icon-comment {
  background-position: -4px -4px;
  width: 74px;
  height: 65px;
}

.icon-comment21 {
  background-position: -86px -4px;
  width: 74px;
  height: 65px;
}

.icon-comment5 {
  background-position: -4px -77px;
  width: 74px;
  height: 65px;
}

.icon-comment6 {
  background-position: -86px -77px;
  width: 74px;
  height: 65px;
}

.icon-laugh2 {
  background-position: -168px -4px;
  width: 65px;
  height: 65px;
}

