.icon {
  background-image: url('../icon1-sprite.png');
}

.icon-comment10 {
  background-position: -4px -4px;
  width: 74px;
  height: 65px;
}

.icon-laugh1 {
  background-position: -86px -4px;
  width: 65px;
  height: 65px;
}

.icon-laugh6 {
  background-position: -4px -77px;
  width: 65px;
  height: 65px;
}

